@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@keyframes glide-line {
    0% {
        left: -100%;
    }
    50% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}


body, html {
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #1F2937;
}

.profile-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.avatar-section {
    text-align: left;
    padding: 20px;
    margin-left:-40px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 6px solid rgba(17, 24, 39, .8);
}

.personal-info h1 {
    text-align: left;
    margin: 10px 0;
    color:#fff;
}

.personal-info p {
    text-align: left;
    color: #fff;
}

.job-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.job-status p {
    color:white;
    text-align: left;
    margin: 0;
    flex-grow: 1; /* ensures the paragraph takes up the available space */
}

.mcd-logo {
    height: 20px; /* Adjust size as needed */
    width: auto; /* Maintain aspect ratio */
    margin-left: 10px; /* space between text and logo */
}


.resume a {
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center the contents horizontally */
    align-items: center; /* Center the contents vertically */
    width: fit-content; /* Fit the content width */
    margin: 20px auto; /* Center the button */
    padding: 10px 20px; /* Padding for button size */
    color: #fff; /* Text color */
    text-decoration: none; /* Removes underline from link */
    border-radius: 10px; /* Rounded corners */
    background-color: #6366F1; /* Button color */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Subtle shadow for depth */
    position: relative;
    overflow: hidden; /* To contain the shine effect within the button borders */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    margin-top:60px;
}
.resume a::after {
    content: '';
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
    transform: skewX(-30deg);
    transition: all 0.3s ease; /* Smooth transition for the effect */
    animation: glide-line 5s ease infinite;
    background-position: -150%;
}

.resume a:hover {
    background-color: #3a3df7; /* Slightly darker color on hover */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Larger shadow on hover for a 'lifting' effect */
}

.resume{
    border-bottom: 1px dotted #ccc; /* Example style: 2px dotted line with light grey color */
    margin-bottom: 100px; /* Add some space below the line */
}
.resume-icon{
    margin-left: 3px;
}

.experiences, .projects {
    margin-top: 20px;
}

.experiences h2, .projects h2 {
    margin-bottom: 10px;
    color: white;
}

.experiences ul, .projects ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Removes default margin */
}

.experiences li, .projects li {
    margin-bottom: 10px; /* Consistent bottom margin for each item */
    position: relative; /* For positioning the pseudo-element */
    color: white;
}

.experiences li::before, .projects li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%; /* Center the dot vertically */
    width: 6px; /* Size of the dot */
    height: 6px; /* Size of the dot */
    border-radius: 50%; /* Makes it round */
    transform: translateY(-50%); /* Centers the dot */
}

.projects li a {
    text-decoration: none;
    color: #fff;
}



.title-icon{
    background-color: #10B981;
    border-radius: 30%;
    margin-left:10px;
    padding: 0.4%;
    position: relative;
    cursor: pointer;
    
}
.tooltip {
    position: absolute;
    width: 95px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 10px;
    line-height: 1.4;
    white-space: nowrap;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-family: "Plus Jakarta Sans", sans-serif;

}

.experience-icon{
    margin-left: 8px; /* Space between text and icon */
    vertical-align: middle; /* Align icon with the middle of the text */
    padding-bottom:5px;
    font-size: 35px !important;
}
#positionTitle{
    color:#94A3B8;
    font-size:15px;
    margin-top:-5px;
}
.logo {
    vertical-align: middle; /* Aligns the logo with the middle of the text */
    margin-right: 10px;     /* Adds some space between the logo and the text */
    width: 30px;            /* Adjust as necessary for your logo */
    height: auto;
    border-radius:30%;           /* Keeps the aspect ratio of the logo */
}
.projects-icon{
    margin-left: 8px; /* Space between text and icon */
    vertical-align: middle; /* Align icon with the middle of the text */
    padding-bottom:5px;
    font-size: 35px !important;
}

.projects {
    text-align: left;
}

.project-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-left:-20px;
}

.project-item {
    margin: 15px;
    width: 300px;
    width: calc(33% - 30px); /* Adjust width for 3 items per row */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    position:relative;
}

.project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.project-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for both transform and box-shadow */
}

.project-item img:hover {
    transform: scale(1.05); /* Slightly enlarges the image */
    box-shadow: 0 10px 20px rgba(0,0,0,0.3); /* Adds shadow for a 'lifting' effect */
}


.project-info {
    padding: 10px;
    color:white;
}

.project-info h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.project-info p {
    font-size: 0.9em;
    color: #fff;
}

.project-tech {
    margin-top: 10px;
}

.tech-item {
    position: relative;
    display: inline-block; /* Aligns the items in a row */
    margin-right: 5px; /* Space between tech items */
    cursor: pointer; /* Indicates the item is interactive */
    margin-top:15px;
}

.tech-item img {
    width: 30px;
    height: auto;
    margin-right: 5px;
    padding: 3px;
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.tech-name {
    position: absolute;
    bottom: 100%; /* Position above the image */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%) scale(0); /* Hide initially */
    transition: transform 0.3s ease;
    background-color: #fff; /* Background color of the label */
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    opacity: 0;
    color:black;
}

.tech-item:hover .tech-name {
    transform: translateX(-50%) scale(0.6); /* Show on hover */
    opacity: 1;
}

#fileProject{
    font-family: "Plus Jakarta Sans", sans-serif;
    border-radius: 10px;
    font-weight: bold;
}

#fileProject {
    transition: all 0.3s ease; /* Transition for smooth effect */
    /* Other styling for your button */
}

#fileProject:hover {
    transform: scale(1.1); /* Makes the button a little larger */
}

.projectlink-icon {
    transition: transform 0.3s ease; /* Transition for the rotation effect */
    display: inline-block; /* Needed for transform */
    margin-left: 2px; /* Space between text and icon */
    vertical-align: middle; /* Align icon with the middle of the text */
    padding-bottom:5px;
    color:black;
    font-size: 35px !important; /* Adjust this value as needed */
}

#fileProject:hover .projectlink-icon {
    transform: rotate(50deg); /* Rotates the icon 90 degrees to the right */
}
.socials{
    color:white;
}